/*font credits to Joiro Hatgaya*/
@font-face {
    font-family: Eight Bit Wonder;
    src: url(./add-ons/8-BIT-WONDER.TTF);
}

body{
    font-family: Eight Bit Wonder;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(to right, rgb(84, 245, 84),rgb(0, 145, 255));
}
.flash{
    background: red;
}

aside{
    display: inline;
    margin: 100px;
}
h1{
    text-align: center center;
    color: tomato;
    text-shadow: 3px 3px grey;
    font-size: 80px;
}

h2{
    text-shadow: 1px 1px grey;
    font-size: 40px;
    background: rgba(255,255,255,.7);
    margin-top: 100px;
}
#play{
    margin-top: 50px;
    width: 100px;
}
.colour-btn{
    border-radius: 15px;
    height: 150px;
    width: 150px;
    display: inline-block;
    border: 3px solid rgb(216, 212, 212);
    margin: 10px;
    margin-top: 50px;
    cursor: pointer;
}
.colour-btn:hover{
    opacity: .8;
}

#RED{
    background-color: red;
}
#GREEN{
    background-color: rgb(9, 250, 37);
}
#BLUE{
    background-color: rgb(2, 95, 255);
}
#YELLOW{
    background-color: yellow;
}
